@import '../../styles/abstracts/variables';

.container__home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-bottom: 40px;

  &--card {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent), $color-red;
    border-radius: 10px;
    height: 340px;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    text-decoration: none;
    color: $color-white;
  }

}

