@import '../../styles/abstracts/variables';

.navBar {
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 210px;
    height: 68px;
    @media screen and (max-width: 768px) {
      width: 145px;
      height: auto;
    }
  }

  &__links {
    display: flex;
    gap: 2rem;

    & a {
      text-decoration: none;
      color: black;
      font-size: clamp(0.8rem, 2vw, 1.4rem);
      font-weight: 500;
      @media screen and (max-width: 768px) {
        text-transform: uppercase;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}