@import '../../styles/abstracts/variables';

.container__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  color: $color-white;
  margin-top: 2%;
  &--logo {
    margin-top: 2%;
    @media screen and (max-width: 768px) {
      width: 122px;
      height: auto;
    }
  }
  & p {
    margin-top: 3%;
    font-size: 1rem;
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
      max-width: 31%;
    }
  }
}