@import '../../styles/abstracts/variables';

.Accommodations {
  max-width: 100%;
  margin-bottom: 2rem;
    &__image {
      width: 100%;
      height: 415px;
      border-radius: 20px;
      object-fit: cover;
      margin-bottom: 1rem;
    }
    &__contenair {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        flex-direction: column;    
      }
    }
    &__contenair-title-town-tags {
      margin-bottom: 1rem;
    }
    &__title {
      font-size: 1.5rem;
      color: $color-red;
      margin-bottom: 0.25rem;
      font-weight: normal;
    }
    &__town {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    &__tags span {
      background-color: $color-red;
      color: $color-white;
      padding: 0.4rem 0.8rem;
      border-radius: 10px;
      font-size: 0.8rem;
      font-weight: bold;
    }
    &__Contenair-rating-host {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      @media screen and (max-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }       
    }
    &__host {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 1rem;
    }
    &__host p {
      max-width: 50%;
      font-size:1rem;
      color: $color-red;
    }
    &__host-picture {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }
    &-contenair__DropDown{
      display:flex;
      gap:5rem;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0;
      }
    }
    &__description {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: $color-gray-dark;
    }
    &__equipments {
      list-style-type: none;
      color: $color-gray-dark;
      font-size: 0.95rem;
    }
  }

.star {
  fill: #e3e3e3; /* étoile vide par défaut */
  margin-right: 0.8rem;
  @media screen and (max-width: 768px) {
    margin-right: 0.2rem;  
    width: 20px;
  }
}
.star.filled {
  fill: $color-red; /* étoile pleine */
}

